.loginContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.loginBox {
  display: flex;
  flex-direction: column;
  background-color: #004E98;
  padding: 30px 30px;
  border-radius: 2px;
}

.loginBox h1 {
  margin-bottom: 20px;
  color: #EBEBEB;
  font-family: 'Kalam', sans-serif;
}

.loginBox .link-button {
  color: #EBEBEB;
  align-self: flex-end;
}