.portfolio-item {
  width: 260px;
  height: 130px;

  background: #FFF;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
  border-radius: 2px;
  padding: 20px;
}

.portfolio-info strong {
  display: block;
  font-size: 16px;
  color: #333;
}

.portfolio-info span {
  font-size: 13px;
  color: #999;
  margin-top: 2px;
}

.portfolio-details {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.portfolio-details .icon {
  display: flex;
  align-items: center;
 }

.portfolio-details .icon span {
 margin-left: 10px;
 color:#333;
}