.container {
  display: grid;

  grid-template-areas:
    "header"
    "content"
    "footer";

  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 1px;

  height: 100vh;
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #004E98;
}

header h1 {
  color: #EBEBEB;
  font-family: 'Kalam', sans-serif;
}

main {
  grid-area: content;
  background-color: #EBEBEB;
}

footer {
  grid-area: footer;
  background-color: #004E98;
}

@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "header"
      "content"
      "footer";

    grid-template-columns: 1fr;
    grid-template-rows:
      auto /* Header */
      1fr /* Content */
      auto; /* Footer */
  }

}